<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/message_form.css') }}">

<form method="POST" action="/message/send">
    <label for="sender">From:</label>
    <input name="sender" readonly value={{ sender }}>

    <label for="message">Message:</label>
    <textarea name="message"></textarea>

    <label for="recipient_country_code">Country</label>
    <select name="recipient_country_code">
      <option value="" disabled selected>Select a country</option>
      <option value="1">Canada</option>
      <option value="1">USA</option>
    </select>
    <label for="recipient_10_digit_num">To:</label>
    <input name="recipient_10_digit_num" pattern="[0-9]{10}" title="10 digit number">
    <input type="submit">
</form>

<script type= "text/javascript" src="{{ url_for('static',filename='scripts/message_form.js') }}"></script>
